Source: engauge-digitizer
Section: science
Priority: optional
Maintainer: Tobias Winchen <winchen@physik.rwth-aachen.de> 
Build-Depends: dpkg-dev (>= 1.16.1~), debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, libfftw3-dev, libpng12-dev, libjpeg-dev
Standards-Version: 3.9.6
Vcs-Git: git://github.com/winchen/engauge_debian.git
Vcs-Browser: https://github.com/winchen/engauge_debian
Homepage: http://digitizer.sourceforge.net/

Package: engauge-digitizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: engauge-digitizer-doc 
Breaks: engauge-digitizer-doc 
Description: interactively extracts numbers from bitmap graphs or maps
 This digitizing software converts an image file showing a graph or map into
 xy data (coordinates). Some people use it for obtaining the original data
 from graphs in scientific publications.
 .
 Features:
    * Automatic grid line removal
    * Automatic point matching
    * Automatic curve tracing
    * Automatic axes matching
    * Handles cartesian, polar, linear and logarithmic graphs
    * Support for drag-and-drop and copy-and-paste
    * Context sensitive help, user manual and tutorials explain every feature
    * Preview windows give immediate feedback while modifying settings
